/* Fonts */

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Circular Std Book'), url('/font/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Circular Std Bold'), url('/font/CircularStd-Bold.woff') format('woff');
}

/* Global
   - Every page */

body {
    overflow-x: hidden;
    background: rgb(240, 240, 240);
    scroll-behavior: smooth;
    word-wrap: break-word;
    color: #555555;
    letter-spacing: -0.25px;
    font-weight: 500;
}

/* Headers & Content */

h1, h2, h3, h4 {
    color: #000000;
    font-family: 'Circular Std Bold', sans-serif;
}

a {
    color: #0059ff;
}

/* Dropdown
   - Navigation bar */

.dropdown-menu {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0px 15px 35px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 15px 35px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 35px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropdown-menu a {
    transition: 0.35s background-color ease;
}

.dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0s;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:active:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.35s background-color ease;
    color: #212529;
}

/* Navigation Bar
   - Every page */

.nav-link {
    padding: 0;
    font-family: 'Circular Std Book', sans-serif;
    font-size: 18px;
    font-stretch: 100%;
    -webkit-font-smoothing: antialiased;
    color: #8a8a8a;
}

.nav-item.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    animation: 0.5s navbar-width forwards;
    height: 2px;
    background-color: #000;
}

.nav-item {
    position: relative;
}

.navbar-brand {
    margin-right: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-item:not(:last-child) {
        margin-right: 60px;
    }

    .navbar-left, .navbar-right {
        width: 50%;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
    }

    .navbar-right :first-child {
        margin-left: auto;
    }

    .navbar-right .btn {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
}

@media (max-width: 991px) {
    .navbar {
        padding: 0.75rem;
    }

    .navbar-middle {
        display: none;
    }

    .navbar-nav .nav-item {
        margin-bottom: 15px;
    }
}

.navbar-middle .nav-item {
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler {
    margin-right: 0;
    margin-left: auto;
    border: none;
    border-radius: 0;
    outline: none;
}

.navbar-toggle[aria-expanded='true'] {
    -webkit-box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.175);
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.175);
}

.navbar-middle img {
    max-width: 40px;
    border-radius: 50%;
}

.navbar .navbar-right a.btn {
    padding: 0.75rem 2.5rem;
    border-radius: 30px;
}

.navbar .navbar-right a.btn:hover {
    background: #858585;
}

#user-dropdown .badge {
    transform: translate(0, -2px);
}

/* Search Bar
   - Front page */

.large-search {
    height: 65px;
    width: 50%;
    border: none;
    padding: 1rem;
    font-size: 18px;
    font-family: 'Circular Std Book', sans-serif;
    margin-top: 25px;
    color: #555555;
    -webkit-box-shadow: 0 15px 35px 5px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 15px 35px 5px rgba(0, 0, 0, 0.175);
    box-shadow: 0 15px 35px 5px rgba(0, 0, 0, 0.175);
    transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out, 0.15s background-color ease-in-out;
    background: #f0f0f0;
}

.large-search:focus {
    -webkit-box-shadow: 0 35px 50px 5px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 35px 50px 5px rgba(0, 0, 0, 0.175);
    box-shadow: 0 35px 50px 5px rgba(0, 0, 0, 0.175);
    color: #222222;
    background: #ffffff;
}

@media (max-width: 991px) {
    .large-search {
        width: 100%;
    }
}

/* Main Jumbotron
   - Front page
   - Error page */

.main-jumbotron {
    margin-bottom: 150px;
}

.main-jumbotron p, .main-jumbotron label {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .main-jumbotron h1 {
        font-size: 72px;
    }

    .main-jumbotron p, .main-jumbotron label {
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    .main-jumbotron h1 {
        font-size: 48px;
    }

    .main-jumbotron p, .main-jumbotron label {
        font-size: 20px;
    }
}

/* Secondary Jumbotron
   - About page
   - Add page
   - Bots page
   - Contact page
   - Privacy Policy page
   - Listing requirements page
   - Search page
   - Tags page
   - Terms of Service page
   - User pages
       - Edit page
       - Manage page
       - Token page
   - Certification pages
       - About page
       - Apply page
       - Thank you page
   - Bot pages
       - Audit page
       - Edit page
       - Manage page
       - Token page
       - Uptime page
   - Admin pages
       - Add Library page
       - Admin list page
       - Banned list page
       - Bot list page
       - Certification page
       - Libraries page
       - Overview page
       - Queue page
       - Uptime list page
       - User list page */

.secondary-jumbotron label {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .secondary-jumbotron h2 {
        font-size: 60px;
    }

    .secondary-jumbotron p, .secondary-jumbotron label {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    .secondary-jumbotron h2 {
        font-size: 36px;
    }

    .secondary-jumbotron p, .secondary-jumbotron label {
        font-size: 18px;
    }
}

.secondary-jumbotron.waves-bg {
    margin-bottom: 150px;
}

/* Buttons
   - Every page */

.btn {
    border-radius: 0;
    transition: none;
}

/* .btn span {
    position: relative;
    display: inline-block;
    transform: translate(0, 1px);
} */

.btn:focus {
    box-shadow: none !important;
}

.btn-light {
    background: rgba(0, 0, 0, 0.15);
    transition: 0.25s background-color ease;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
}

.btn-light:focus {
    background: rgba(0, 0, 0, 0.4);
    transition: none;
    color: #ffffff;
}

.btn-light:hover, .btn-light.active {
    background: rgba(0, 0, 0, 0.5);
    transition: none;
    color: #ffffff;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show>.btn-light.dropdown-toggle {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.btn-dark {
    background: rgba(0, 0, 0, 0.15);
    transition: 0.25s background-color ease, 0.25s color ease;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
}

.btn-dark:focus {
    background: rgba(0, 0, 0, 0.4);
    transition: none;
    color: #ffffff;
}

.btn-dark:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: none;
    color: #ffffff;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show>.btn-dark.dropdown-toggle {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.btn-dark.btn-red {
    background: rgba(255, 0, 0, 0.2);
    transition: 0.25s background-color ease, 0.25s color ease;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
}

.btn-dark.btn-red:focus {
    background: rgba(255, 0, 0, 0.4);
    transition: none;
    color: #ffffff;
}

.btn-dark.btn-red:hover {
    background: rgba(255, 0, 0, 0.65);
    transition: none;
    color: #ffffff;
}

.btn-dark.btn-red:not(:disabled):not(.disabled):active, .btn-dark.btn-red:not(:disabled):not(.disabled).active, .show>.btn-dark.btn-red.dropdown-toggle {
    background: rgba(255, 0, 0, 0.8);
    color: #ffffff;
}

.btn-dark.btn-green {
    background: rgba(35, 219, 35, 0.2);
    transition: 0.25s background-color ease, 0.25s color ease;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
}

.btn-dark.btn-green:focus {
    background: rgba(35, 219, 35, 0.4);
    transition: none;
    color: #000000;
}

.btn-dark.btn-green:hover {
    background: rgba(35, 219, 35, 0.65);
    transition: none;
    color: #000000;
}

.btn-dark.btn-green:not(:disabled):not(.disabled):active, .btn-dark.btn-green:not(:disabled):not(.disabled).active, .show>.btn-dark.btn-green.dropdown-toggle {
    background: rgba(35, 219, 35, 0.8);
    color: #000000;
}

.btn-link {
    color: #000000;
    text-decoration: underline;
}

.btn-link:hover {
    color: #000000;
}

/* Pagination
   - Bots page
   - Users page
   - Admin bot list page
   - Search page */

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-item {
    padding: 0 1rem;
}

.page-link {
    padding: 5px 5px 0 5px;
    border: none;
    font-family: 'Circular Std Book', sans-serif;
    font-size: 18px;
    font-stretch: 100%;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.5);
    background-color: transparent;
}

.page-link.active {
    color: #000;
}

.page-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    animation: 0.5s navbar-width forwards;
    height: 2px;
    background-color: #000;
}

.page-item.disabled .page-link {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.25);
}

.page-item.disabled {
    cursor: not-allowed;
}

.page-link:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7)
}

.page-link:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
}

/* Bot List
   - Home page
   - Bots page */

ul.bot-list {
    list-style: none;
    padding: 0;
}

/* Small Preview Card
   - Bots page
   - Home page
   - Search page
   - User page
   - Bot pages
       - Audit page
       - Uptime page
   - Admin pages
       - Bots page
       - Certification page
       - Libraries page
       - Queue page */

.card {
    border: none;
}

.card.preview-card {
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 30px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.05);
    transition: 0.2s transform ease, 0.2s box-shadow ease;
    overflow: hidden;
    position: relative;
    background-size: cover;
}

a .card.preview-card:hover {
    transform: translate(0, -5px);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
    transition: none;
}

.card.preview-card.unapproved .card-body {
    opacity: 0.1;
}

.card.preview-card.unapproved::after {
    content: 'Unapproved';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background: #ff6565;
    padding: 5px 8px;
    border-radius: 2px;
}

.card.preview-card .card-body {
    position: relative;
    height: 100%;
}

.card.preview-card.background .card-body {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#ffffff',GradientType=1);
}

.card.preview-card h3 {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.card.preview-card .status {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    transform: translate(0, -6px);
    border-radius: 50%;
}

.card.preview-card .status.online {
    background: #43b581;
}

.card.preview-card .status.dnd {
    background: #f04747;
}

.card.preview-card .status.idle {
    background: #faa61a;
}

.card.preview-card .status.offline {
    background: #747f8d;
}

.card.preview-card .head img {
    position: relative;
    height: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.card.preview-card .head img.blur {
    filter: blur(8px);
}

.card.preview-card p.description {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.card.preview-card .content {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.card.preview-card .head {
    position: relative;
    display: block;
    height: 120px;
}

.preview-card .tags {
    min-height: 48px;
}

.card.preview-card.notification .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.card.preview-card.notification .time {
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
    font-size: 14px;
}

.card.preview-card.notification.old {
    opacity: 0.5;
    transition: 0.4s opacity ease;
}

.card.preview-card.notification.old:hover {
    opacity: 1;
}

.card.preview-card.static h1, .card.preview-card.static h2, .card.preview-card.static h3, .card.preview-card.static h4 {
    font-family: 'Circular Std Book', sans-serif;
}

.card.preview-card.analytics-statistic p {
    font-size: 20px;
}

/* Footer */

.footer {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #606060;
}

.footer a {
    margin-bottom: 12px;
    display: inline-block;
    padding: 2px;
    color: #606060;
}

.footer a:hover {
    text-decoration: none;
    color: #000000 !important;
}

.vertical-split {
    margin: 0 10px;
    margin-bottom: -4px;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.05);
}

.dotted-underline {
    padding-bottom: 10px;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under; 
    text-decoration: underline;
}

/* Section Header with Image
   - Home page
   - Certification page */

.header-container img {
    width: 40px; 
    height: 40px;
    transform: translate(0, 50px);
}

.header-container h2 {
    margin-bottom: 0;
}

.header-container h2, .header-container p {
    padding-left: 60px;
}

.header-container-single {
    margin-bottom: 10px;
}

.header-container-single img {
    width: 40px; 
    height: 40px;
    transform: translate(0, 40px);
}

.header-container-single h2 {
    margin-bottom: 0;
    padding-left: 60px;
}

/* Jumbotron */

.jumbotron {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Forms
   - Add page
   - Certification apply page
   - User pages
       - Ban page
       - Edit page
   - Bot pages
       - Edit page
       - Delete page
       - Transfer page
   - Admin pages
       - Add Library page
       - Decline certification page
       - Decline bot page */

form label {
    margin-bottom: 5px;
}

form.form .form-control, .form-control.custom, .CodeMirror {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.5s border-color ease;
}

form.form .form-control:focus, .form-control.custom:focus, .CodeMirror:focus {
    transition: none;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
}

form.form .form-control:disabled, form.form .form-control[readonly], form.form .form-control.custom:disabled, form.form .form-control.custom[readonly] {
    background: rgba(255, 255, 255, 0.35);
    cursor: not-allowed;
}

select.form-control, .custom-select {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.5s border-color ease;
    border-radius: 0;
}

select.form-control:focus, .custom-select:focus {
    transition: none;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
}

.form-group label.required::after {
    content: '*';
    vertical-align: super;
    font-size: smaller;
    color: #E50000;
    padding-left: 2px;
}

.form-group .validation {
    float: right;
    color: #606060;
    font-size: 12px;
}

.form-group .validation.hint {
    transform: translate(0, -18px);
}

.form-group .validation.invalid {
    color: #E50000;
}

.card.preview-desc {
    max-height: 75vh;
    overflow: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    height: 600px;
}

form.form .description .col-lg-6:first-of-type {
    padding-right: 0;
}

form.form .description .col-lg-6:last-of-type {
    padding-left: 0;
}

form.form #tags, form.form #language {
    height: 200px;
}

/* Alerts */

.alert {
    border-radius: 0;
    padding: 1.5rem 2rem;
}

.alert.alert-success {
    background: #9CD9AA;
    border-color: #84D095;
    color: #353535;
}

.alert.alert-warning {
    background: #FFEB9D;
    border-color: #FFE273;
    color: #555555;
}

.alert a {
    color: #000000;
}

/* Action Card
   - Admin overview page
   - Bot manage page
   - User manage page */

.action-card {
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 1rem 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    margin-bottom: 32px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.05);
    transition: 0.2s transform ease, 0.2s box-shadow ease;
}

.action-card h1, .action-card h2, .action-card h3 {
    margin-bottom: 0;
    font-family: 'Circular Std Book', sans-serif;
}

.action-card:hover {
    transition: none;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
    transform: translate(0, -5px);
}

.action-card-blocked {
    cursor: not-allowed;
}

.action-card-blocked:hover {
    transform: none;
}

/* Utility Classes */

.circular-bold {
    font-family: 'Circular Std Bold', sans-serif;
}

.circular-book {
    font-family: 'Circular Std Book', sans-serif;
}

@media (max-width: 660px) {
    .child-block-mobile * {
        display: block;
        text-align: center;
    }

    .child-block-mobile.d-flex {
        display: block !important;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.blur {
    filter: blur(5px) grayscale(100%);
}

.blur:hover {
    filter: none;
    transition: 1.5s filter ease-in;
}

.shadow {
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5)) !important;
    box-shadow: none !important;
}

.blur-shadow {
    filter: blur(5px) grayscale(100%) drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5)) !important;
}

.blur-shadow:hover {
    filter: blur(0) grayscale(0) drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5)) !important;
    transition: 1.5s filter ease-in !important;
}

.full-width {
    max-width: 100% !important;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.no-corners {
    border-radius: 0;
}

.box-shadow {
    -webkit-box-shadow: 0 15px 35px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 35px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 35px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .center-mobile {
        text-align: center !important;
    }

    .mb-3-mobile {
        margin-bottom: 0.75rem
    }
}

a.no-color {
    color: unset;
    text-decoration: unset;
}

/* Bot Cards */

.bot-card .card-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
    word-break: break-word;
    display: block;
}

.bot-card .card-title h1 {
    display: inline-block;
    margin-bottom: 0;
}

.bot-card img.main-image {
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
}

.bot-card .data p {
    font-size: 17px;
    margin-bottom: 5px !important;
}

.bot-card .data p::after {
    content: '';
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(0, 0, 0, 0.075);
}

.bot-card .data ul {
    font-family: 'Circular Std Book', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.bot-card .data ul li {
    display: inline-block;
}

.bot-card .data ul li a {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.bot-card .data ul li a:hover {
    color: #000000;
}

.bot-card .data ul li a#invite {
    color: #4b93ff;
}

.bot-card .data ul li a#invite:hover {
    color: #0066ff;
}

.bot-card .stats-list {
    text-align: center;
    padding: 10px 0;
}

.bot-card .stats-list a {
    text-decoration: none;
    font-weight: bold;
    color: #555555;
}

.bot-card .stats-list a:hover {
    color: #000000;
}

.bot-card .stats-list span:not(:last-child)::after {
    content: '';
    position: relative;
    display: inline-block;
    margin: 0 30px;
    height: 28px;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    margin-top: -3px;
}

.bot-card .row {
    margin-bottom: 25px;
}

@media (max-width: 991px) {
    .bot-card img.main-image {
        margin-bottom: 20px;
    }
}

/* Containers */

.padded-container {
    padding: 0 3rem;
    width: 100%;
}

@media (max-width: 650px) {
    .padded-container {
        padding: 0 1rem;
    }
}

/* Tag List
   - Tags page */

.tag-list a img {
    width: 25px;
    margin-right: 5px;
}

/* Uncategorized */

.CodeMirror {
    height: 600px !important;
}

p a, .alert a {
    border-bottom: 1px solid !important;
}

p a:hover, .alert a:hover {
    text-decoration: none !important;
}

img.background {
    position: absolute;
    left: 0;
    top: -25%;
    width: 100vw;
    height: 1200px;
    object-fit: cover;
    z-index: -1000;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.status {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(6px, -10px);
    margin-left: 8px;
}

.status.online {
    background-color: #43b581;
}

.status.idle {
    background-color: #faa61a;
}

.status.dnd {
    background-color: #f04747;
}

.status.offline {
    background-color: #747f8d;
}

.status.unknown {
    background-color: #000000;
}

.quick-tag img {
    position: relative;
    display: inline-block;
    width: 20px;
    transform: translate(0, -1px);
}

.quick-tag {
    box-sizing: content-box;
    height: 25px;
}

.tag img {
    width: 30px;
}

.tag {
    margin-bottom: 25px;
}

.tag span {
    margin-bottom: -10px;
}

main {
    min-height: calc(100vh - 288px);
}

.badge-large {
    padding: 10px 12px;
}

.badge-list {
    display: block;
    margin-bottom: 10px;
}

.badge-list .badge:not(:last-child) {
    margin-right: 5px;
}

.button-list .btn {
    margin-bottom: 20px;
}

.button-list > .btn:not(:last-child) {
    margin-right: 5px;
}

.button-list-mr-20 .btn {
    margin-bottom: 25px;
}

.button-list-mr-20 > .btn:not(:last-child) {
    margin-right: 25px;
}

.button-list > .btn-group:not(:last-child) > :nth-child(2) {
    margin-right: 5px;
}

.badge.badge-no-style {
    background: none;
    color: #000000;
    padding: 10px 0;
}

.badge.badge-no-style:not(:last-of-type) {
    margin-right: 10px;
}

.underline {
    padding-bottom: 1px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
}

.vertical-align {
    margin: 0;
    position: relative;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.markdown-body h1 {
    border-color: #d9d9d9 !important;
}

/* Hover Spoilers */

.code-spoiler {
    display: block;
    background: #555555;
    padding: 1rem 1.5rem;
    width: 100%;
    color: #ffffff;
}

.code-spoiler .code {
    display: none;
}

.code-spoiler:hover .code, .code-spoiler.show .code {
    display: block;
}

.code-spoiler:hover .text {
    display: none;
}

#uptime-table thead th:nth-of-type(1), #uptime-table thead th:nth-of-type(2) {
    width: 10%;
}

#uptime-table thead th:nth-of-type(3) {
    width: 80%;
}

/* Animation Keyframes */

@keyframes navbar-width {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: none;
    }
}